body {
  margin: 0;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LOGO CLASS */
.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
}
.icon-warehouse {
  background-image: url("./logo.svg");
  filter: invert(29%) sepia(12%) saturate(2946%) hue-rotate(267deg) brightness(85%) contrast(79%);
}
.icon-warehouse:hover,
.icon-warehouse:focus {
  filter: invert(23%) sepia(9%) saturate(5168%) hue-rotate(280deg) brightness(99%) contrast(91%);
}

/**
 * Custom cross-browser styles for keyboard :focus overrides defaults.
 */
*:focus { 
  outline: 0 !important;
  box-shadow:
    0 0 0 .2rem #fff,
    0 0 0 .35rem #069 !important;
}

/**
 * Remove focus styles for non-keyboard :focus.
 */
*:focus:not(.focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

.valign-center {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
}

.icon-button {
  font-size: medium;
}

/*
SVG custom shapes
*/
.customShape {
  stroke: red;
  fill: red;
  opacity: 0.9;

}

.customShape:hover {
  fill: rgba(0,0,255,0.3);
}

.customShape:active {
  fill: rgba(0,0,255,0.6);
}

/*
Sketch it stuff
*/
.sketch-img {
  /* width: 100%;
  height: 100%;             */
  border: 1px solid red;
}

.sketch-container{
  position: relative;
  margin: 20px;
}

.sketch-box{
  /* width: 100%;
  height: 100%;             */
  position: absolute;
  top: 0;
  left: 0;
  /* background-color: #069; */
  opacity: 1;
}

.sketch-stack-top{
  z-index: 9;
  /* width: 500px;
  height: 500px; */
  opacity: 0.7;
  /* background-color: chocolate; */
}

.grid-rect{
  stroke: darkslateblue;
  opacity: 0.5;
  stroke-width: 1;
  fill: transparent;
}

.shapes-svg {
  fill: url(#transformedPattern);
}
